* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: whitesmoke;
}
#mother {
  width: 100%;
  font-size: 20px;
}
main {
  float: right;
  border: 1px solid gray;
  padding: 5px;
}
input {
  padding: 4px;
  border: 2px solid black;
  text-align: center;
  font-size: 17px;
}
aside {
  text-align: center;
  width: 300px;
  float: left;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  background-color: silver;
  color: white;
}
#tbl {
  width: 890px;
  font-size: 20px;
  text-align: center;
}
#tbl th {
  background-color: silver;
  color: black;
  font-size: 20px;
  padding: 10px;
}

#tbl:hover {
  background-color: white;
}
aside button {
  width: 190px;
  padding: 8px;
  margin-top: 7px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
